
header{
  z-index: 99;
}
/* 03 logo-company start */
.logo-company img{
  width: 180px;
  padding-bottom: 30px;
}
.logo-company img{
  /* filter: grayscale();
  transition: filter  0.4s ease-in-out; */
  cursor: pointer;
  z-index: -1;
}
/* .logo-company img:hover{
  filter: none;
} */

/* 03 logo-company end */


/* 04 service section start */
.box-service .card{
  width: 11rem;

}
.service-card{
  column-gap: 6rem;
  z-index: -1;
}

@media (max-width:767px) {
  .box-service .card{
    width: 100%;
    margin-bottom: 20px;
  }
  
}
/* 04 service section end */

/* e-commec start */
.e-commec p{

  color:#a3a3a3;
}
/* e-commec end */

/* Carousel */
.carousel-item{
  opacity: 0.5;
}
.carousel-caption h1{
  font-size: 14rem;

}
.carousel-caption p{
  font-size: 3rem;
}
/* Carousel */

/*  06 TechAbout Clientele section start  */
.TechAbout-Clientele p{
  line-height: 40px;
}
.tech-project{
  box-shadow: 0 60px 135px rgba(0, 0, 0, .14), 0 15px 65px rgba(0, 0, 0, .14);
}

/*  06 TechAbout Clientele section end  */


/* 07 innovating start */
.innovating p{
  line-height: 2;

}
.box-innovating .card{
z-index: -1;
}
/* 07 innovating end */